body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top right, darkcyan, white);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 2.5%;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(201, 198, 198, 0.5);
  border-radius: 9px/8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px/8px;
  background-color: rgb(225, 255, 255);
}