body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top right, cyan, darkcyan);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 2.5%;
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}